# BANK 3
#set_io IOL_1A          E4
#set_io IOL_1B          B2
#set_io IOL_2A          F5
#set_io IOL_2B          B1
#set_io IOL_3A          C1
#set_io IOL_3B          C2
#set_io IOL_4A          F4
#set_io IOL_4B          D2
#set_io IOL_5A          G5
#set_io IOL_5B          D1
#set_io IOL_6A          G4
#set_io IOL_6B          E3
#set_io IOL_7A          H5
#set_io IOL_7B          E2
#set_io IOL_8A          G3
#set_io IOL_8B          F3
#set_io IOL_9A          H3
#set_io IOL_9B          F2
#set_io IOL_10A         H6
#set_io IOL_10B         F1
#set_io IOL_11A         H4
#set_io IOL_11B         G2
#set_io IOL_12A         J4
#set_io IOL_12B         H2
#set_io IOL_13A         J5
#set_io IOL_13B_GBIN7   G1
#set_io IOL_14A_GBIN6   J3
#set_io IOL_14B         H1
#set_io IOL_15A         J2
#set_io IOL_15B         J1
#set_io IOL_16A         K1
#set_io IOL_16B         K3
#set_io IOL_17A         L4
#set_io IOL_17B         L1
#set_io IOL_18A         K4
#set_io IOL_18B         M1
#set_io IOL_19A         L6
#set_io IOL_19B         L3
#set_io IOL_20A         K5
#set_io IOL_20B         M2
#set_io IOL_21A         L7
#set_io IOL_21B         N2
#set_io IOL_22A         M6
#set_io IOL_22B         M3
#set_io IOL_23A         L5
#set_io IOL_23B         N3
#set_io IOL_24A         P1
#set_io IOL_24B         M4
#set_io IOL_25A         P2
#set_io IOL_25B         M5
#set_io IOL_26A         R1
#set_io IOL_26B         N4

# BANK 2
#set_io IOB_52          N6
#set_io IOB_53          T1
#set_io IOB_54          P4
#set_io IOB_55          R2
#set_io IOB_56          N5
#set_io IOB_57          T2
#set_io IOB_58          P5
#set_io IOB_59          R3
#set_io IOB_60          R5
#set_io IOB_61          T3
#set_io IOB_63          R4
#set_io IOB_64          M7
#set_io IOB_66          N7
#set_io IOB_67          P6
#set_io IOB_68          M8
#set_io IOB_69          T5
#set_io IOB_71          R6
#set_io IOB_72          P8
#set_io IOB_73          T6
#set_io IOB_74          L9
#set_io IOB_75          T7
#set_io IOB_76          T8
#set_io IOB_77          P7
#set_io IOB_78          N9
#set_io IOB_79          T9
#set_io IOB_80          M9
#set_io IOB_81_GBIN5    R9
#set_io IOB_82_GBIN4    K9
#set_io IOB_83          P9
#set_io IOB_84          R10
#set_io IOB_85          L10
#set_io IOB_86          P10
#set_io IOB_87          N10
#set_io IOB_88          T10
#set_io IOB_89          T11
#set_io IOB_91          T15
#set_io IOB_92          T14
#set_io IOB_93          M11
#set_io IOB_94          T13
#set_io IOB_98          N12
#set_io IOB_99          L11
#set_io IOB_100         T16
#set_io IOB_101         M12
#set_io IOB_102         R16
#set_io IOB_103_CBSEL0	K11
#set_io IOB_104_CBSEL1	P13
#set_io IOB_105_SDO	    P12
#set_io IOB_106_SDI	    P11
#set_io IOB_107_SCK	    R11
#set_io IOB_108_SS	    R12

# BANK 1
#set_io IOR_109         R14
#set_io IOR_110         R15
#set_io IOR_111         P14
#set_io IOR_112         P15
#set_io IOR_113         P16
#set_io IOR_114         M13
#set_io IOR_115         M14
#set_io IOR_116         L12
#set_io IOR_117         N16
#set_io IOR_118         L13
#set_io IOR_119         L14
#set_io IOR_120         K12
#set_io IOR_121         M16
#set_io IOR_122         J10
#set_io IOR_123         M15
#set_io IOR_126         J11
#set_io IOR_127         L16
#set_io IOR_128         K13
#set_io IOR_129         K14
#set_io IOR_130         J15
#set_io IOR_131         K15
#set_io IOR_133         K16
#set_io IOR_134         J14
#set_io IOR_136         J12
#set_io IOR_137         J13
#set_io IOR_138         J16
#set_io IOR_139         H13
#set_io IOR_140_GBIN3   H11
#set_io IOR_141_GBIN2   H16
#set_io IOR_142         H14
#set_io IOR_143         G16
#set_io IOR_144         H12
#set_io IOR_145         G15
#set_io IOR_146         G10
#set_io IOR_147         F16
#set_io IOR_148         G11
#set_io IOR_149         F15
#set_io IOR_150         G14
#set_io IOR_151         E16
#set_io IOR_152         G13
#set_io IOR_153         D16
#set_io IOR_154         G12
#set_io IOR_155         F14
#set_io IOR_156         F12
#set_io IOR_157         D15
#set_io IOR_158         F11
#set_io IOR_160         E14
#set_io IOR_161         C16
#set_io IOR_162         F13
#set_io IOR_165         B16
#set_io IOR_166         E13
#set_io IOR_167         D14

# BANK 0
#set_io IOT_168         C14
#set_io IOT_169         B15
#set_io IOT_170         D13
#set_io IOT_171         B14
#set_io IOT_172         C12
#set_io IOT_173         E11
#set_io IOT_174         C13
#set_io IOT_176         A16
#set_io IOT_177         A15
#set_io IOT_178         B13
#set_io IOT_179         E10
#set_io IOT_180         C11
#set_io IOT_181         D11
#set_io IOT_182         B12
#set_io IOT_183         B10
#set_io IOT_184         B11
#set_io IOT_185         C10
#set_io IOT_186         A10
#set_io IOT_187         A11
#set_io IOT_190         D10
#set_io IOT_191         C9
#set_io IOT_192         E9
#set_io IOT_193         D9
#set_io IOT_194         A9
#set_io IOT_196         F9
#set_io IOT_197_GBIN1   C8
#set_io IOT_198_GBIN0   F7
#set_io IOT_199         B9
#set_io IOT_200         D8
#set_io IOT_203         B8
#set_io IOT_205         A7
#set_io IOT_206         C7
#set_io IOT_207         B7
#set_io IOT_208         B6
#set_io IOT_209         C6
#set_io IOT_210         D7
#set_io IOT_211         A6
#set_io IOT_212         D6
#set_io IOT_213         A5
#set_io IOT_214         B5
#set_io IOT_215         E6
#set_io IOT_216         B4
#set_io IOT_218         A2
#set_io IOT_219         D5
#set_io IOT_220         A1
#set_io IOT_221         C5
#set_io IOT_222         C4
#set_io IOT_223         B3
#set_io IOT_224         D4
#set_io IOT_225         E5
#set_io IOT_226         D3
#set_io IOT_227         C3

#################################################

set_io LED              C3      # OUT   # LED
set_io CLK_50M          C8      # IN    # 50MHz Clock
set_io ADC_CLK          D3      # OUT   # ADC Clock
set_io ADC_D0           N6      # IN    # ADC Data input 0
set_io ADC_D1           T1      # IN    # ADC Data input 1
set_io ADC_D2           P4      # IN    # ADC Data input 2
set_io ADC_D3           R2      # IN    # ADC Data input 3
set_io ADC_D4           N5      # IN    # ADC Data input 4
set_io ADC_D5           T2      # IN    # ADC Data input 5
set_io ADC_D6           P5      # IN    # ADC Data input 6
set_io ADC_D7           R3      # IN    # ADC Data input 7
set_io ADC_D8           R5      # IN    # ADC Data input 8
set_io ADC_D9           T3      # IN    # ADC Data input 9
set_io ADC_D10          R4      # IN    # ADC Data input 10
set_io ADC_D11          M7      # IN    # ADC Data input 11
set_io ADC_D12          N7      # IN    # ADC Data input 12
set_io ADC_D13          P6      # IN    # ADC Data input 13
set_io ADC_D14          M8      # IN    # ADC Data input 14
set_io ADC_D15          T5      # IN    # ADC Data input 15
set_io ADC_OF           D7      # IN    # ADC Overflow input
set_io ADC_OEn          A6      # OUT   # ADC Output enable output